@import "tailwindcss";

.input {
  border-radius: 0.5rem;
  border: 1px solid rgb(38 38 38);
  background: rgb(23 23 23);
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  color: rgb(245 245 245);
  outline: none;
  min-width: 0; /* flex/grid konteynerlərdə daşmanın qarşısını alır */
}

.input:focus {
  border-color: rgb(16 185 129);
}
